__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.sqlite
*.db
*.log
.mypy_cache/
.pytest_cache/
docker-compose.yml
.vscode/
.git/
.gitignore
